body{

    max-width: 1000px;
}
.two-col-text-image {
    display: flex;
}
.two-col-text-image .image-section {
    justify-content: center;
    align-items: center;

}
.two-col-text-image{

    position: relative;
}
.two-col-text-image .text{
    max-width: 700px;
}
.two-col-text-image .image-section{
    position: absolute;
    right: -340px;
    float: right;
}